<a href="{{ article.url }}" aria-label="{{ article.title }} Article Link" class="article-card {{ class }}">
  <div class="article-card__image">
    {% render 'media-img', media: article.image %}
  </div>

  <div class="article-card__content">
    <p class="article-card__title h2">{{ article.title }}</p>
    <div class="text-fade">{{ article.excerpt }}</div>
  </div></a>