<div class="form_fields">
  <div class="form_field">
    <label class="caption" for="address[first_name]">First name</label>
    <input class="caption" type="text" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
  </div>
  <div class="form_field">
    <label class="caption" for="address[last_name]">Last name</label>
    <input class="caption" type="text" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
  </div>
  
  <div class="form_field">
    <label class="caption" for="address[company]">Company</label>
    <input class="caption" type="text" name="address[company]" value="{{ form.company }}" autocomplete="organization">
  </div>
  <div class="form_field">
    <label class="caption" for="address[address1]">Address line 1</label>
    <input class="caption" type="text" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1">
  </div>
  <div class="form_field">
    <label class="caption" for="address[address2]">Address line 2</label>
    <input class="caption" type="text" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2">
  </div>
  <div class="form_field">
    <label class="caption" for="address[city]">City</label>
    <input class="caption" type="text" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
  </div>
  <div class="form_field">
    <label class="caption" for="address[zip]">Postal code</label>
    <input class="caption" type="text" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
  </div>
  <div class="form_field">
    <label class="caption" for="address[country]">Country</label>
    <div class=" form-field-select">
      <select class="caption" name="address[country]" data-default="{{ form.country }}" autocomplete="country">
        {{ all_country_option_tags }}
      </select>
    </div>
  </div>
  <div class="form_field form-field-select" style="display: none">
    <label class="caption" for="address[province]">Province</label>
    <div class=" form-field-select">
      <select class="caption" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
    </div>
  </div>
  <div class="form_field">
    <label class="caption" for="address[phone]">Phone number</label>
    <input class="caption" type="tel" name="address[phone]" value="{{ form.phone }}" autocomplete="tel">
  </div>
  
</div>

<button aria-label="Update address" class="button button--primary" type="submit">Save</button>

{%- if form.errors -%}
  <div class="richtext font_b">
    {{- form.errors | default_errors -}}
  </div>
{%- endif -%}
