<div class="footer__top-section reveal">
  <div class="footer__sign-up-form">
    <p>Subscribe to our mailing list</p>
    <div class="klaviyo-form-VYrLj9"></div>
  </div>
  <div class="footer__nav">
    {% for block in section.blocks %}
      <div class="footer__nav-wrapper">
        <p class="caption">{{ block.settings.title }}</p>
        <nav aria-label="Footer Menu" class="footer__nav-menu">
          {%- for link in block.settings.menu.links -%}
            <a href="{{ link.url }}" aria-label="{{ link.title }}">{{- link.title -}}</a>
          {%- endfor -%}
        </nav>
      </div>
    {% endfor %}
  </div>

  <div class="footer__currency-switcher">
    {% render 'currency-switcher' %}
  </div>
</div>

<div class="footer__bottom-section">
  <div class="footer__logo">
    <div class="aspectholder">
      {% render "icon-logo" %}
    </div>
  </div>

  <nav aria-label="Footer Menu" class="footer__bottom-menu">
    {%- for link in section.settings.bottom_menu.links -%}
      <a href="{{ link.url }}" aria-label="{{ link.title }}" class="text-small">{{- link.title -}}</a>
    {%- endfor -%}
  </nav>
</div>


{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Content"
      }, {
        "type": "text",
        "id": "copyright",
        "label": "Copyright"
      }, {
        "type": "link_list",
        "id": "bottom_menu",
        "label": "Bottom Menu"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "limit": 3,
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ]
  }
{% endschema %}