<div class="header__inner">
  <button class="mobile-toggle caption mobile" aria-expanded="false" aria-controls="mobile-nav">
    Menu
  </button>

  <div class="header__logo-wrapper">
    <a href="/" aria-label="Home" class="header__logo">{% render 'icon-logo' %}</a>
  </div>

  <div class="desktop">
    {% render 'nav-root', menu: section.settings.menu %}

    <div class="nav-panels">
      {% for link in linklists[section.settings.menu].links %}
        {% assign panel = shop.metaobjects.mega_nav_panel[link.handle] %}
        {% if panel %}
          {% render 'nav-panel', link: link, panel: panel %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <nav class="header__secondary" aria-label="Secondary Navigation">
    <button onclick="toggleClass('.header', 'active-search')" class="header__link caption header__search-button desktop" aria-label="Search Link">Search</button>
    <a aria-label="Account Page" class="header__link caption desktop" href="/account">Members</a>
    <button class="header__link caption header__cart" data-ajax-cart-toggle-class-button="js-my-cart-open" aria-label="Show Cart">Bag</button>
  </nav>

  {%- comment -%}
    <div class="header__search">
    <form action="{{ routes.search_url }}" method="get" role="search" class="header__search-form">
    <input type="hidden" name="options[prefix]" value="last"/>
    <input class="h4" placeholder="Begin typing..." type="text" name="q" value="{{ search.terms | escape }}" {% if search.performed %}autofocus{% endif %}>
    <button type="submit" class="button button--primary" aria-label="Search">Search</button>
    </form>
    </div>
  {%- endcomment -%}

</div>

<div class="mobile-nav mobile" id="mobile-nav" hidden>
  <div class="mobile-nav__viewport" data-level="0">
    <div class="mobile-nav__header">
      <button class="mobile-nav__back caption" aria-label="Go back" hidden>
        Back
      </button>

      <button class="mobile-nav__close" aria-label="Close menu">
        {% render 'icon-cross' %}
      </button>
    </div>

    <!-- Level 1 -->
    <div class="mobile-nav__level mobile-nav__level--root">
      <ul class="mobile-nav__primary-menu">
        {% for link in linklists[section.settings.menu_mobile].links %}
          {% assign panel = shop.metaobjects.mega_nav_panel[link.handle] %}

          <li>
            {% if panel and link.links.size > 0 %}
              <button class="mobile-nav__trigger caption" data-mobile-trigger="{{ link.handle }}">
                {{ link.title }}
              </button>
            {% else %}
              <a class="caption" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Level 2 panels -->
    {% for link in linklists[section.settings.menu_mobile].links %}
      {% assign panel = shop.metaobjects.mega_nav_panel[link.handle] %}

      {% if panel and link.links.size > 0 %}
        <div class="mobile-nav__level" data-mobile-panel="{{ link.handle }}">
          {% render 'nav-panel-content', link: link, panel: panel %}
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>


{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "limit": 1,
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Primary Menu"
      }, {
        "type": "link_list",
        "id": "menu_mobile",
        "default": "main-menu",
        "label": "Mobile Menu"
      }
    ]
  }
{% endschema %}