<section class="search container {% unless search.performed and search.results_count > 0 %}template-search--empty{% endunless %}">

  <nav class="search__nav" aria-label="search nav">

    <div class="search__form">
      <form action="{{ routes.search_url }}" method="get" role="search" class="form_inline">
        <input type="hidden" name="options[prefix]" value="last"/>
        <input type="hidden" name="type" value="product"/>
        <input class="search__input h2" type="text" name="q" value="{{ search.terms | escape }}" {% if search.performed %}autofocus{% endif %}>
      </form>

      {% if search.performed %}
        <p role="status">
          {% if search.results_count == 0 %}
            No products found for "{{ search.terms }}"
          {% else %}
            {{ search.results_count }} product{% if search.results_count > 1 %}s{% endif %}
            for "{{ search.terms }}"
          {% endif %}
        </p>
      {% endif %}
    </div>
  </nav>

  {% if search.performed and search.results_count > 0 %}
    {% paginate search.results by 24 %}

      <ul class="search__container" role="list">
        {% for product in search.results %}
          <li>
            {% render 'product-card', product: product, showATC: false %}
          </li>
        {% endfor %}
      </ul>

      <div class="search__pagination">
        {{ paginate | default_pagination }}
      </div>
    {% endpaginate %}
  {% endif %}

</section>


{% schema %}
  {
    "name": "Main Search",
    "enabled_on": {
      "templates": ["search"]
    },
    "limit": 1,
    "settings": []
  }
{% endschema %}