<section class="blog">
  <div class="blog__header">
    <h1>{{ blog.title }}</h1>
    <p>{{ blog.metafields.custom.blog_description }}</p>
  </div>
  <div class="blog__container">
    {% if blog.all_tags.size > 0 %}
      <nav class="blog__tags" aria-label="Blog categories">
        <ul class="blog__tags-list" role="list">

          <li>
            <a href="{{ blog.url }}" class="caption {% unless current_tags %}is-active{% endunless %}">
              All
            </a>
          </li>

          {% for tag in blog.all_tags %}
            <li>
              <a href="{{ blog.url }}/tagged/{{ tag | handleize }}" class="caption {% if current_tags contains tag %}is-active{% endif %}">
                {{ tag }}
              </a>
            </li>
          {% endfor %}

        </ul>
      </nav>
    {% endif %}


    {%- paginate blog.articles by section.settings.blogs_to_show -%}
      <div class="blog__articles" id="blog-articles">
        {% for article in blog.articles %}
          {% render "article-card", article: article, class: c %}
        {% endfor %}
      </div>

      {% if paginate.next %}
        <div class="blog__load-more-wrapper">
          <button class="js-load-more button button--outline" data-next-url="{{ paginate.next.url }}" data-container="#blog-articles">
            Show More
          </button>
        </div>
      {% endif %}
    {%- endpaginate -%}
  </div>
</section>

{% schema %}
  {
    "name": "Main Blog",
    "enabled_on": {
      "templates": ["blog"]
    },
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Settings"
      }, {
        "type": "range",
        "id": "blogs_to_show",
        "min": 1,
        "max": 36,
        "step": 1,
        "default": 8,
        "label": "Blogs to Show"
      }
    ]
  }
{% endschema %}