<section class="multicolumn">
  {% if section.blocks.size > 0 %}
    <div class="multicolumn__items multicolumn__items--{{ section.blocks.size }}">
      {% for block in section.blocks %}
        <div class="multicolumn__item">
          {%- render "media-img", media: block.settings.image -%}
          <div class="multicolumn__item-content">
            <p class="multicolumn__title h2">{{ block.settings.title }}</p>
            {% if section.settings.button_link != blank %}
              <a href="{{ section.settings.button_link | default: '#' }}" class="button button--link" aria-label="{{ section.settings.button_label }}">
                <span>{{- section.settings.button_label | escape -}}</span>
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Multicolumn",
    "settings": [],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "text",
            "label": "Button Label",
            "id": "button_label",
            "default": "Shop women"
          }, {
            "type": "url",
            "label": "Button Link",
            "id": "button_link"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image Selector"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multicolumn"
      }
    ]
  }
{% endschema %}