<section class="contact container">
  <div class="contact__image-wrapper reveal">
    {% if section.settings.mediaType == 'image' %}
      {% render 'media-img', media: section.settings.image %}
    {% else %}
      <div class="aspectholder">
        {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '400x' }}
      </div>
    {% endif %}
  </div>
  <div class="contact__content-wrapper">
    <div>
      {%- if section.settings.subheading != blank -%}
        <p class="contact__subheading caption reveal">{{ section.settings.subheading }}</p>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h2 class="contact__title {{ section.settings.title_font_size }} contact__title--{{ section.settings.titleWidth }} reveal">{{ section.settings.title }}</h2>
      {%- endif -%}

      {%- if section.settings.body != blank -%}
        <div class="contact__body text-base reveal">{{- section.settings.body -}}</div>
      {%- endif -%}

      <div class="contact__emails reveal">
        {% for block in section.blocks %}
          <div>
            <p class="contact__email-title caption">{{ block.settings.title }}</p>
            <a href="mailto:{{ block.settings.email }}" class="button">{{ block.settings.email }}</a>
          </div>
        {% endfor %}
      </div>

      <div class="contact__socials reveal">
        {% if settings.instagram_handle != blank %}
          <a aria-label="Instagram" href="https://www.instagram.com/{{ settings.instagram_handle | strip }}" rel="noopener noreferrer" target="blank">Instagram</a>
        {% endif %}
        {% if settings.facebook_url != blank %}
          <a aria-label="Facebook" href="{{ settings.facebook_url }}" rel="noopener noreferrer" target="blank">Facebook</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Contact",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Body Copy"
      }, {
        "type": "select",
        "label": "Media Type",
        "id": "mediaType",
        "default": "image",
        "options": [
          {
            "value": "image",
            "label": "Image"
          }, {
            "value": "video",
            "label": "Video"
          }
        ]
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "video",
        "id": "video",
        "label": "Video File"
      }
    ],
    "blocks": [
      {
        "type": "email_address",
        "name": "Email Address",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "text",
            "id": "email",
            "label": "Email Address"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Contact"
      }
    ]
  }
{% endschema %}